<head>
<title>JCE </title>
<link rel="shortcut icon" href="images/Icons/JCE Logo icon.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="about.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">

<!--Top Bar Menu-->

<div class="top_menu">
	<nav id="mainav" class="hoc clear"> 
	<div class="header_logo_main"></div>
		<ul class="clear">
			<li><a href="index.html">Accueil<div class="underline"></div></a></li>
			<li class="active"><a href="#top">La Junior-Conseil ESME<div class="underline"></div></a></li>
	
			<li><a href="projects.html">Projets<div class="underline"></div></a></li>
			<li><a href="members.html">Membres<div class="underline"></div></a></li>
			<li class="quotation_head"><a href="quotation.html">Devis</a></li>
			<li><a href="contact.html">Nous contacter<div class="underline"></div></a></li>
		</ul>
	
		<ul class="faico clear">
			<li><a class="faicon-facebook" href="https://www.facebook.com/JuniorConseilESME/"><i class="fa fa-facebook"></i></a></li>
			<li><a class="faicon-linkedin" href="https://www.linkedin.com/company/junior-conseil-esme"><i class="fa fa-linkedin"></i></a></li>
		</ul>
	</nav>
</div>

<div class="sections"><div class="sections_margin">

<!--Section 0-->

	<div class="sub_section_2" id="short_section">
	
		<div class="sections_margin2">
			<img src="images/Group/assis.jpg" alt="JCE Team" class="esme_big">
			<div class="container_float">
				<h6>Les talents de demain, aujourd’hui</h6>
				<p><span class="marge2"></span>Nous sélectionnons les étudiants qui seront les plus adaptés pour votre projet, qui ont les compétences techniques nécessaire à sa réalisation afin de vous garantir un projet de qualité réalisé dans les meilleures délais.
				</p>
			</div>
			
			
				<div id="quotation_back">
				
					<a class="devis"><a class="bottom_btn" href="#full_bottom">Nous contacter</a></a>
					
				</div>
		</div>
	</div>
	
<!--Section 1-->

	<div id="skills_section" class="sub_section">
		<h1>Nos domaines de compétences</h1>
		<div id="ingénierie"></div>
		<div class="sub_section_2">
			<div class="skills_container" id="inge">
				<div class="skills_main" id="1">
						<img src="images/Icons/emb.png" alt="inge">
						<div class="head_ftit">
							<h4>Electronique</h4>
						</div>
						<p>
						Ecole Supérieur de Mécanique et d’Electricité, l’ESME Sudria a développé une véritable expertise dans ce domaine. 
						Electricité, systèmes embarqués, conversion de l’énergie, tous ces domaines sont historiquement mis en avant à 
						l’ESME Sudria, et c’est une voie qui est suivie par les étudiants les plus brillants. 
						</p>
				</div>
				<div class="skills_lat">
					<div class="skills_sub">
						<div class="ico_container">
							<img src="images/Icons/electronique.jpg" alt="sys" 
								title="UE1 : Systèmes Embarqués 
									  Logiciels Embarqués firmware
										OS Embarqués Architecture
										Installation des OS Embarqués
										UE2 : Electronique
										Synthèse circuits numériques et outils FPGA
										Outils EDA
										CAO
										Spécification cahier des charges
										Outils des développement microsystèmes
										CEM
							">
						</div>
						<p>Systèmes embarqués</p>
					</div>
					<br/><br/>
					<div class="skills_sub">
						<div class="ico_container">
							<img src="images/Icons/electronique.jpg" alt="sys"
								title="TU1 : Advanced digital communications
										Radio propagation
										Digital wireless communications
										Information theory and coding
										Cryptography
										TU2 : Network and security
										Local network management
										Cloud architecture
										Network security fundamentals
										Linux systems administration
										TU3 : Humanities
										TU4 : Technical project
										Small scale IoT prototype
										Based on open hardware and software
										Example: RFID-based class attendance system
										Example: Home automation system
						">
						</div>
						<p>Objets Connectés</p>
					</div>
					
				</div>
			</div>
			<div id="informatique"></div>
			<div class="skills_container" id="info">
				<div class="skills_main" id="2">
						<img src="images/Icons/inge.png" alt="info">
						<div class="head_ftit">
							<h4>Mecatronique</h4>
						</div>
						<p>
						Dans cette spécialisation les étudiants ont des cours d’automatique linéaire et apprennent à asservir des 
						systèmes. Associé à l’expérience de l’ESME Sudria dans l’electronique, ceci forme un cocktail détonnant et a 
						permis la création de projets tels que l’exosquelette Hercules et le robot de l’association PROROK (www.prorok.fr) 
						dans les labos de l’ESME Sudria. C’est cette expérience et la soif de participer à des projets innovants qui fait 
						qu’aujourd’hui les étudiants de l’ESME sont les mieux placés pour réaliser vos projets dans la robotique
						</p>
				</div>
				<div class="skills_lat">
				
					<div class="skills_sub">
						<div class="ico_container"><img src="images/Icons/electronique.jpg" alt="sys"></div>
						<p>Modélisation</p>
					</div>
					<br/>
					<div class="skills_sub">
						<div class="ico_container"><img src="images/Icons/mecatro.png" alt="sys"></div>
						<p>Automatique</p>
					</div>
					<br/>
					<div class="skills_sub">
						<div class="ico_container"><img src="images/Icons/coil.png" alt="sys"></div>
						<p>Energie</p>
					</div>
					
				</div>
			</div>
			<div id="traduction"></div>
			<div class="skills_container" id="trad">
				<div class="skills_main" id="3">
						<img src="images/Icons/translation.png" alt="trad">
						<div class="head_ftit">
							<h4>Développement Web</h4>
						</div>
						<p>
						Longtemps indispensable, cette discipline reste au centre des enseignements de l’ESME. Les étudiants ont des 
						cours de Web Devlopment dès la premiere année du cycle Ingénieur. Nombreux sont les étudiants qui ont déjà 
						réalisé plusieurs projets Web pour financer en partie leurs études ou pour des projets entrepreneuriaux. Nous 
						avons donc accès à un véritable foisonnement de compétences dans ce domaine que nous souhaitons mettre à votre 
						disposition. 
						</p>
				</div>
				<div class="skills_lat">
					
					<div class="skills_sub">
						<div class="ico_container"><img src="images/Icons/coding.png" alt="sys"></div>
						<p>Site internet</p>
					</div>
					<br/>
					<div class="skills_sub">
						<div class="ico_container"><img src="images/Icons/computer.png" alt="sys"></div>
						<p>Application</p>
					</div>
					
				</div>
			</div>
			<div id="conseil"></div>
			<div class="skills_container" id="cons">
				<div class="skills_main" id="4">
						<img src="images/Icons/business.png" alt="cons">
						<div class="head_ftit">
							<h4>Développement Informatique</h4>
						</div>
						<p>
						L’ESME Sudria n’est pas à proprement parler une école d’informatique et les enseignements qui y sont procurés 
						touchent des domaines variés. Cependant on aurait tord de penser que tous les étudiants ne sont pas intéressés  
						par les métiers du developpement. Au contraire nombreux sont ceux qui se sont découvert une véritable passion 
						pour l’informatique. Pour répondre à  la demande de ces talents dédiés,  et rester dans la marche de son temps, 
						l’école a ouvert de nouvelles spécialisations en Intelligence Artificielle et en Cybersécurité
						</p>
				</div>
				<div class="skills_lat">
				
					<div class="skills_sub">
						<div class="ico_container"><img src="images/Icons/database.png" alt="sys"></div>
						<p>Base de données</p>
					</div>
					<br/>
					<div class="skills_sub">
						<div class="ico_container"><img src="images/Icons/AI.png" alt="sys"></div>
						<p>Intelligence Artificielle</p>
					</div>
					<br/>
					<div class="skills_sub">
						<div class="ico_container"><img src="images/Icons/electronique.jpg" alt="sys"></div>
						<p>Cybersécurité</p>
					</div>
				
				
				</div>
			</div>
			<div id="conseil"></div>
			<div class="skills_container" id="cons">
				<div class="skills_main" id="4">
						<img src="images/Icons/business.png" alt="cons">
						<div class="head_ftit">
							<h4>Simulation & Prototypage</h4>
						</div>
						<p>
						A l’avant garde des écoles d’Ingénieur, l’ESME Sudria a ouvert il y a quelques années des e-smart lab sur ses 
						différents campus. De nombreuses machines sont mises à la disposition des étudiants qui se forment ainsi à 
						l’impression 3D, à l’electronique sur des cartes modulables, à la robotique, etc. Imprimantes 3D, freiseuses, 
						découpeuses laser, modélisation 3D (solidworks, fusion360) n’ont aucun secret pour ces étudiants. Nous pouvons 
						mettre à votre disposition ces compétences et ces ressources pour la réalisation de votre prototype. 
						</p>
				</div>
				<div class="skills_lat">
				
					<div class="skills_sub">
						<div class="ico_container"><img src="images/Icons/electronique.jpg" alt="sys"></div>
						<p>e-Smart Lab (3D)</p>
					</div>
					<br/>
					<div class="skills_sub">
						<div class="ico_container"><img src="images/Icons/electronique.jpg" alt="sys"></div>
						<p>Conception</p>
					</div>
				</div>
			</div>
			<div id="conseil"></div>
			<div class="skills_container" id="cons">
				<div class="skills_main" id="4">
						<img src="images/Icons/business.png" alt="cons">
						<div class="head_ftit">
							<h4>Conseil & Marketing</h4>
						</div>
						<p>
						Certains étudiants font le choix d’un double cursus avec l’ISG(www.isg.fr) qui les prépare à la fois à un diplôme 
						d’Ingénieur et un diplôme de management. Il vont donc développer des compétences managériales et sont capables de 
						réaliser des études marketing en appliquant la rigueur et l’intransigeance d’un Ingénieur vis à vis de la donnée. 
						Nous sommes donc en mesure d’apporter notre expertise et d’allier ces différentes compétences pour agir comme une 
						activité de conseil auprès de votre entreprise. En général une partie de l’effectif de la junior est logiquement 
						issue de ce double cursus.
						</p>
				</div>
				<div class="skills_lat">
				
					<div class="skills_sub">
						<div class="ico_container"><img src="images/Icons/network.png" alt="sys"></div>
						<p>Conseil</p>
					</div>
					<br/>
					<div class="skills_sub">
						<div class="ico_container"><img src="images/Icons/business.png" alt="sys"></div>
						<p>Etudes Marketing</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="quotation_section" class="sub_section">
		<div><div><a href="quotation.html">
			<div href="quotation.html"><p>Obtenir un devis</p></div>
		</a></div></div>
	</div>
	
	<div id="devis" class="devis">
	Obtenir un devis
	</div>
	
<!--Section 2-->
	
	<div class="sub_section" id="members">
		<h1>Les membres du bureau</h1>
		<div class="sub_section_2" id="members_sub">
			<div class="member_big">
				<img src="images/Team/Bureau_mandat_2018/FRANCE_mathieu.jpg" alt="team">
				<div>
					<p class="name">FRANCE Mathieu</p>
					<p class="function"> Secrétaire général</p>
				</div>
			</div>
			<div class="member_big">
				<img src="images/Team/Bureau_mandat_2018/ROYET_alexandre.jpg" alt="team">
				<div>
					<p class="name">ROYET Alexandre</p>
					<p class="function"> Président</p>
				</div>
			</div>
			<div class="member_big">
				<img src="images/Team/Bureau_mandat_2018/LOTAUT_david.jpg" alt="team">
				<div>
					<p class="name">LOTAUT David</p>
					<p class="function"> Trésorier</p>
				</div>
			</div>
		</div>
		<div class="deport">
			<a class="bottom_btn" href="members.html">Liste des membres</a>
		</div>
	</div>
	
<!--Section 3-->
	
	<div class="sub_section" id="projects">
		
		
		<h1></h1>
		<div class="sub_section_2">

		
		<!--
			<div class="project_big">
				<p class="title" id="ecf_m">Serrure NFC</p>
				<img src="images/Projets/ESME.jpg" alt="project">
				<div>
					<p class="client">ESME Sudria</p>
					<p class="statut" id="ecf">En cours de réalisation</p>
					<p class="pr_desc">Dans le cadre de son contrat de partenariat avec l’ESME Sudria, Junior-Conseil ESME se doit de proposer des projets pédagogiques valorisant les enseignements des différents laboratoires de l’école.<br /><br />Nous avons vu naître, ces dernières années, un engouement pour les objets connectés. Situés à la frontière entre la mécatronique et les réseaux, les projets portés sur les objets connectés constituent un véritable enjeu pour les ingénieurs de demain. C’est ce défi qu’ont voulu relever deux élèves de B2 en fabriquant une serrure qui pourrait être pilotée à l’aide d’un téléphone mobile. La difficulté de ce projet sera de respecter les fonctions contraintes d’une serrure classique notamment concernant la sécurité.<br /><br />Les intervenants proposent donc de créer une application Android dotée d’une double sécurité (cf. cahier des charges) qui permettra de déverrouiller une serrure à proximité. Ce projet aura comme objectif premier de promouvoir l’image de l’ESME Sudria.</p>
				</div>
			</div>
			<div class="project_big">
				<p class="title" id="ecf_m">Sphère à LEDs</p>
				<img src="images/Projets/ESME.jpg" alt="project">
				<div>
					<p class="client">ESME Sudria</p>
					<p class="statut" id="ecf">En cours de finalisation</p>
					<p class="pr_desc">L’ESME Sudria fait appel à la Junior-Conseil ESME afin d’améliorer plusieurs projets de Master 1 et 2. En effet, de nombreux projets de fin d’étude sont finis mais restent sous forme de prototype. Le but est ainsi de les terminer, de les rendre plus attractifs, simples d’utilisation et faciles à expliquer, afin de s’en servir comme éléments de démonstrations pour l’école, lors des Journées Portes Ouvertes.<br /><br />Ainsi, ces projets permettraient d’attirer des lycéens ou étudiants, pour leur donner une vision concrète et des exemples tangibles du métier d’ingénieur et des compétences qu’ils pourraient acquérir en intégrant l’ESME Sudria. Ils auront donc un but pédagogique, qui sera d’amener ces étudiants à comprendre par eux-mêmes, à travers des manipulations ou présentations interactives, le fonctionnement de ces projets. L’un d’eux est une sphère de diodes électroluminescentes, pouvant afficher en temps réel un message entré par un utilisateur.</p>
				</div>
			</div>
			<div class="project_big">
				<p class="title" id="f_m">Création plateforme Plifaltec</p>
				<img src="images/Projets/plifaltec.png" alt="project">
				<div>
					<p class="client">Plifaltec</p>
					<p class="statut" id="f">Terminé</p>
					<p class="pr_desc">Plifaltec, jeune entreprise innovante spécialisée dans le pliage, le froissage et le biomimétisme, créatrice de présentoirs, d’emballages et d’expositions, souhaite revenir aux origines du pliage : l’origami.<br /><br />Dans ce cadre, la société va prochainement lancer sa gamme : Prêt à Plier, une gamme d’origami à plier soit même. Afin de promouvoir les différents produits qui seront proposé, Plifaltec a besoin d’un site internet qui mette en avant l’élégance et la facilité de réalisation de ses produits.<br /><br />Junior-Conseil ESME se propose donc de réaliser un site Internet suivant les inspirations et l’esthétique de Plifaltec ainsi que de l’origami. Dans l’optique d’une solution pérenne, l’association propose un site qui pourra évoluer en fonction des produits proposés dans cette gamme et de leur nombre, avec une interface utilisateur qui permettra un maximum d’ajouts et de modification, sans avoir à passer par des lignes de codes.</p>
				</div>
			</div>
		-->
<!-- --------------- -->
		<!--  <div class="sections"><div class="sections_margin">  -->

<!--Section 0-->
<!--
	<div class="sub_section">
		<h1>Nos projets</h1>
		<div class="sub_section_2" id="projects_sub">
			<img src="images/Icons/projects.png" alt="">
			<p><span class="marge"></span>Les projets sont le coeur de l’activité d’une Junior Entreprise. Ils sont le lien entre les entreprises et les étudiants, le vecteur de toutes ses réalisations. Voici une liste de toutes nos réalisations présentes et passées, gage de notre qualité et de notre sérieux.</p>
		</div>
	</div>
	-->
<!--
	<div id="quotation_section" class="sub_section">
		<div><div>Obtenir un devis<a href="quotation.html">
			<div href="quotation.html"><p>NOUS CONTACTER</p></div>
		</a></div></div>
	</div>
-->	

	<div id="quotation_section" class="sub_section">
		<div><p>Obtenir un devis</p><div><a href="quotation.html">
			<div href="quotation.html"><p>NOUS CONTACTER</p></div></div>
		</a></div>
	</div>
	
<!--Section 1-->

	<div class="sub_section">
		<h1>Nos clients majeurs</h1>
		<div class="sub_section_2" id="clients_sub">
			<div id="clients_list">
				<img src="images/Projets/ESME.jpg" class="project" width="100" height="105">
				<img src="images/Projets/CEA.png" class="project" width="75" height="75">
				<img src="images/Projets/AIESME.png" class="project" width="75" height="75">
				<img src="images/Projets/Omniscol.png" class="project" width="75" height="75">
				<img src="images/Projets/plifaltec.png" class="project" width="75" height="75">
			</div>
		</div>
	</div>
	
<!--Section 2-->

			<script>
				function visibilite_multi(thingId)
				{
				var currElement = document.getElementById(thingId);
				var targElement = document.getElementById(thingId+"_p");
				var g;
				
				if(currElement.className == "sel")
				{
					currElement.className = "nsel";
					targElement.style.display = "none";
				}
				
				else
				{
					var x = document.getElementsByClassName("sel");
					var i;
					for (i = 0; i < x.length; i++) {
						g = x[i].id+"_p";
						document.getElementById(g).style.display = "none";
						x[i].className = "nsel";
					}
					
					currElement.className = "sel";
					targElement.style.display = "block";
				}
				}
			</script>

	<div class="sub_section">
		<h1>Nos projets</h1>
			<img src="images/Icons/projects.png" alt="">
			<p><span class="marge"></span>Les projets sont le coeur de l’activité d’une Junior Entreprise. Ils sont le lien entre les entreprises et les étudiants, le vecteur de toutes ses réalisations. Voici une liste de toutes nos réalisations présentes et passées, gage de notre qualité et de notre sérieux.</p>
	</div>
		
<!--
			<div class="Y_select">
				<p>Mandats</p>
				<div class="nsel" id="2017">
					<a href="javascript:visibilite_multi('2017');">2017</a>
				</div>
				<div class="nsel" id="2018">
					<a href="javascript:visibilite_multi('2018');">2018</a>
				</div>
			</div>
-->
<!--
			<div class="P_display">
				<div id="2017_p" style = "display: none;" class="p_list" id="projetmene">
-->
				<p><div style='text-align: center'><h1>Mandats 2019</h1></div></p>
					<div class="project_big" >
						<p class="title" id="f_m">Boitier Yoko</p>
						<img src="images/Projets/plifaltec.png" alt="project">
						<div>
							<p class="client" >Datastorm</p>
							<p class="statut" id="f">Terminé</p>
							<p class="pr_desc">YOKO propose une solution fiable et éthique pour compter le nombre de personnes dans un espace donné. Ceci consiste en un système de capteurs et d’algorithmes d’intelligence artificielle. Ce système est utilisé au service de clients prestigieux qui utilisent l’analyse de ces données dans leur démarche qualité. Cette solution peut par exemple permettre d’analyser des taux de conversion.</p>
						</div>
					</div>
				
					
				</div>
<!--
				<div id="2018_p" style = "display: none;" class="p_list">
-->
				<p><div style='text-align: center'><h1>Mandats 2018</h1></div></p>
					<div class="project_big">
						<p class="title" id="ecf_m">Sphère à LEDs</p>
						<img src="images/Projets/ESME.jpg" alt="project">
						<div>
							<p class="client">ESME Sudria</p>
							<p class="statut" id="ecf">En cours de finalisation</p>
							<p class="pr_desc">L’ESME Sudria fait appel à la Junior-Conseil ESME afin d’améliorer plusieurs projets de Master 1 et 2. En effet, de nombreux projets de fin d’étude sont finis mais restent sous forme de prototype. Le but est ainsi de les terminer, de les rendre plus attractifs, simples d’utilisation et faciles à expliquer, afin de s’en servir comme éléments de démonstrations pour l’école, lors des Journées Portes Ouvertes.<br /><br />Ainsi, ces projets permettraient d’attirer des lycéens ou étudiants, pour leur donner une vision concrète et des exemples tangibles du métier d’ingénieur et des compétences qu’ils pourraient acquérir en intégrant l’ESME Sudria. Ils auront donc un but pédagogique, qui sera d’amener ces étudiants à comprendre par eux-mêmes, à travers des manipulations ou présentations interactives, le fonctionnement de ces projets. L’un d’eux est une sphère de diodes électroluminescentes, pouvant afficher en temps réel un message entré par un utilisateur.</p>
						</div>
					</div>
					<div class="project_big">
						<p class="title" id="ecf_m">Serrure NFC</p>
						<img src="images/Projets/ESME.jpg" alt="project">
						<div>
							<p class="client">ESME Sudria</p>
							<p class="statut" id="ecf">En cours de finalisation</p>
							<p class="pr_desc">Dans le cadre de son contrat de partenariat avec l’ESME Sudria, Junior-Conseil ESME se doit de proposer des projets pédagogiques valorisant les enseignements des différents laboratoires de l’école.<br /><br />Nous avons vu naître, ces dernières années, un engouement pour les objets connectés. Situés à la frontière entre la mécatronique et les réseaux, les projets portés sur les objets connectés constituent un véritable enjeu pour les ingénieurs de demain. C’est ce défi qu’ont voulu relever deux élèves de B2 en fabriquant une serrure qui pourrait être pilotée à l’aide d’un téléphone mobile. La difficulté de ce projet sera de respecter les fonctions contraintes d’une serrure classique notamment concernant la sécurité.<br /><br />Les intervenants proposent donc de créer une application Android dotée d’une double sécurité (cf. cahier des charges) qui permettra de déverrouiller une serrure à proximité. Ce projet aura comme objectif premier de promouvoir l’image de l’ESME Sudria.</p>
						</div>
					</div>
					<div class="project_big" >
						<p class="title" id="f_m">Création plateforme Plifaltec</p>
						<img src="images/Projets/plifaltec.png" alt="project">
						<div>
							<p class="client" >Plifaltec</p>
							<p class="statut" id="f">Terminé</p>
							<p class="pr_desc">Plifaltec, jeune entreprise innovante spécialisée dans le pliage, le froissage et le biomimétisme, créatrice de présentoirs, d’emballages et d’expositions, souhaite revenir aux origines du pliage : l’origami.<br /><br />Dans ce cadre, la société va prochainement lancer sa gamme : Prêt à Plier, une gamme d’origami à plier soit même. Afin de promouvoir les différents produits qui seront proposé, Plifaltec a besoin d’un site internet qui mette en avant l’élégance et la facilité de réalisation de ses produits.<br /><br />Junior-Conseil ESME se propose donc de réaliser un site Internet suivant les inspirations et l’esthétique de Plifaltec ainsi que de l’origami. Dans l’optique d’une solution pérenne, l’association propose un site qui pourra évoluer en fonction des produits proposés dans cette gamme et de leur nombre, avec une interface utilisateur qui permettra un maximum d’ajouts et de modification, sans avoir à passer par des lignes de codes.</p>
						</div>
					</div>
<!--				</div>          -->
				<p><div style='text-align: center'><h1>Mandats 2017</h1></div></p>
					<div class="project_big">
						<p class="title" id="f_m">Traduction plateforme Omniscol</p>
						<img src="images/Projets/Omniscol.png" alt="project">
						<div>
							<p class="client" id="projetfini">Linacs SAS</p>
							<p class="statut" id="f">Terminé</p>
							<p class="pr_desc">Omniscol est une Start-Up proposant une manière innovante de gérer son emploi du temps. Connaissant un relatif succès et souhaitant étendre sa zone d’activité, elle cherche à rendre accessible son offre à travers le monde, et a pour cela besoin d’un site internet transcrit dans une variété de langues.<br /><br />L’ESME proposant différentes langues dans son cursus, la JCE s’est proposée pour 4 intervenants pour ajouter 4 langues nouvelles au site(portugais, chinois, allemand et espagnol).</p>
						</div>
					</div>
					<div class="project_big">
						<p class="title" id="f_m">Robot manipulateur de puces</p>
						<img src="images/Projets/CEA.png" alt="project">
						<div>
							<p class="client">CEA</p>
							<p class="statut" id="f">Terminé</p>
							<p class="pr_desc">Le CEA Saclay est un établissement public de recherche pluridisciplinaire. La recherche fondamentale y occupe une place très importante. L’IRFU (Institut de Recherche sur les lois Fondamentales de l’Univers) est l’un de ces pôles de recherche fondamentale. Ses activités scientifiques relèvent de l’astrophysique, de la physique nucléaire et de la physique des particules. Dans le cadre de ses recherches, l’IRFU est amené à participer à de nombreux projets de recherche. L’un d’entre eux est le futur réseau de télescopes Cherenkof (CTA). Ces télescopes possèdent des caméras NectarCAM dotées de puces NECTAR qui peuvent être livrées défaillantes. L’institut doit produire et fournir 40 000 puces NECTAR qui se doivent d’être préalablement testées. Devant la fastidiosité de la tâche, une solution robotique a été retenue.<br /><br />La Junior-Conseil de l’ESME Sudria se propose d’apporter des solutions réalistes, afin de finaliser ce projet.<br /><br />La réalisation du projet aboutira à une amélioration significative et mesurable du robot manipulateur/testeur de puces NECTAR. Il gagnera ainsi en fiabilité, durabilité, rapidité, précision, ergonomie et sécurité.<br /><br />Afin d’augmenter la fiabilité ainsi que la durabilité, nous proposons d’améliorer mécaniquement le robot et de corriger le problème des fuites de mémoire. Pour gagner en rapidité, nous souhaitions améliorer l’intelligence et l’automatisme du robot. L’ergonomie serait augmentée par la mise en place d’une liaison logicielle et la simplification de l’interface déjà existante entre le banc de tests et le robot. Enfin, nous accordons une grande importance à la sécurité et nous nous appliquons à rendre le robot plus sûr, l’objectif étant de minimiser les interventions humaines.</p>
						</div>
					</div>
					<div class="project_big">
						<p class="title" id="f_m">Étude de marché AIESME</p>
						<img src="images/Projets/AIESME.png" alt="project">
						<div>
							<p class="client">AIESME</p>
							<p class="statut" id="f">Terminé</p>
							<p class="pr_desc">L'association AIESME est une structure qui permet de garder un lien entre les ingénieurs de demain et les professionnels d'aujourd'hui. Cette association crée par des diplômés de l'ESME Sudria a pour but d'aider professionnellement les élèves et anciens élèves de l'école. Leurs services consistent en l'organisation de conférences, d'ateliers, de formations, et de coachings ouverts à tous ou d'une assistance soutenue à ses cotisants. Aujourd’hui, l’association n’a qu’une très faible visibilité auprès des étudiants de l’ESME. La raison de cette situation n’est pas clairement définie. C’est donc pour cela que la Junior Conseil ESME s’engage à suivre une étude marketing auprès des nouvelles générations afin d’agrandir le nombre de cotisants de l’AIESME. Cela en comprenant pourquoi les membres de l’ESME ne sont pas impliqués auprès de l’AIESME et donner des solutions pour remédier à ce souci d’ici 2023.</p>
						</div>
					</div>
			</div>
		</div>
	</div>

<div id="quotation_section" class="sub_section">
		<div><div><a href="quotation.html">
			<div href="quotation.html"><p>Obtenir un devis</p></div>
		</a></div></div>
	</div>


		
<!-- --------------- -->			
<!--			
		</div>
		<div class="deport">
			<a class="bottom_btn" href="projects.html">Voir les projets</a>
		</div>
	</div>
	</div>
-->
<!--Contact-->


	<footer class="ending" id="full_bottom">
		<div class="contact">
			<div class="ct_nfo">
				<h5>Nous contacter</h5>
				<address><span class="sec_tit">Junior-Conseil ESME</span><br />
					<span class="marge"></span>&#9993;&nbsp;&nbsp;<span class="it"><a class="ct_link" href="mailto:contact@jcesme.fr">contact@jcesme.fr</span></a><br />
					<span class="marge"></span>&#9742;&nbsp;&nbsp;<span class="it">+33 6 17 59 33 29</span><br />
				</address>
				<p class="loc"><span class="sec_tit">ESME Sudria</span><br />38 rue Molière, Ivry-sur-Seine<br />94200 FRANCE<br />Voir accueil au rez-de-chaussée</p>
				<div class="map">
				
				</div>
			</div>
			<div class="partners">
				<h5>Partenaires</h5>
				<div class="partners_pic">
					<img src="images/Partners/Esme.png" alt="E.S.M.E Sudria" class="pt_icon">
					<img src="images/Partners/AIESME.png" alt="AIESME Sudria" class="pt_icon">
				</div>
			</div>
		</div>
		<div class="copyrights">
			<div class="JCE">© 2016-2017 JCE | Association loi 1901 de type Junior-Entreprise</div>
		</div>
	</footer>

</div>
</body>
</html>