/*JCE CSS theme by Kushuh神*/
@import url("styles.css");

/*Group picture*/

.group_pic{
	background-image:url('images/Group/debout.jpg');
	background-position: center center;
	background-size: cover;
	z-index: 1;
	width: 100%;
	height: 0;
	padding: 0 0 50% 0;
	position: fixed;
	left: 0;
	visibility: visible!important;
}

/*Whole sections positioning*/

.sections{
	position: absolute;
	height: auto;
	margin: 30% 0 0 0!important;
	background-color: transparent!important;
	background-image: url("images/Icons/Texture.png")!important;
	background-repeat: no-repeat;
	background-position: 0 0;
}

/*Section 0*/

.logo_big{
	width: 13%;
	height: 0;
	padding: 0 0 13% 0;
	margin: -14% 0 0 0;
	background-image:url('images/Icons/JCE Logo alternatif RD.png');
	background-size: 100% 100%;
	position: absolute;
	right: 42%;
	opacity: 1;
}

/* only section */


p{
	color: #5B8EBE;
	background-color: transparent;
	font-family: Verdana;
	text-decoration: bold;
}

.line_nfo{
	display: inline-table;
	width: 33%;
	height: auto;
}

.line_nfo > img{
	width: 30%;
	height: auto;
	margin: 0 0 0 35%;
}

