/*JCE CSS theme by Kushuh神*/
@import url("styles.css");

/*Group picture*/

.group_pic{
	background-image:url('images/Group/debout.jpg');
	background-position: center center;
	background-size: cover;
	z-index: 1;
	width: 100%;
	height: 0;
	padding: 0 0 50% 0;
	position: fixed;
	left: 0;
	visibility: visible!important;
}

/*Whole sections positioning*/

.sections{
	position: absolute;
	height: auto;
	margin: 30% 0 0 0!important;
	background-color: transparent!important;
	background-image: url("images/Icons/Texture.png")!important;
	background-repeat: no-repeat;
	background-position: 0 0;
}

/*Section 0*/

.logo_big{
	width: 13%;
	height: 0;
	padding: 0 0 13% 0;
	margin: -14% 0 0 0;
	background-image:url('images/Icons/JCE Logo alternatif RD.png');
	background-size: 100% 100%;
	position: absolute;
	right: 42%;
	opacity: 1;
}

/*Section 1*/

#intro_section{
	background-color: #FFFFFF;
	left: 0;
}

#intro_text > a{
	display: block;
	margin: auto!important;
	width: 25%!important;
}

.intro_text_2{
	display: block;
	width: 98%;
	margin: 0;
	padding: 0 1% 1% 1%;
	height: auto;
	overflow: hidden;
}

.intro_text_2 > .slogan_desc{
	color: #000000;
	width: 100%;
	text-align: center;
	overflow: hidden;
	vertical-align: top;
	margin: 0;
	font-weight: normal;
}

/*Section 2*/


#useful_section{
	background-color: #FFFFFF;
	left: 0;
}

#useful_section > div.sub_section_2{
	background-color: #FFFFFF!important;
}



.line_nfo{
	display: inline-table;
	width: 33%;
	height: auto;
}

.line_nfo > img{
	width: 30%;
	height: auto;
	margin: 0 0 0 35%;
}



/*Section 3*/

#skills_section{
	left: 0;
	background-color: #FFFFFF;
}

.head_ftit{
	width: 100%;
	overflow: hidden;
}

.line_nfob{
	display: inline-block;
	margin: 1% 1% 0 1%;
	height: auto;
	transition: linear 0.2s;
}

.line_nfob > a{
	width: 100%;
	height: 100%;
	background-color: transparent;
	text-decoration: none;
}

.line_nfob > a > div.head_ftit > h4{transition: linear 0.2s;}

.line_nfob:hover > a > div.head_ftit > h4{
	transition: linear 0s;
	color: #DD8623;
}

#s_inge{background-image: url('images/Icons/inge.png');}
#s_info{background-image: url('images/Icons/coding.png');}
#s_trad{background-image: url('images/Icons/translation.png');}
#s_cons{background-image: url('images/Icons/business.png');}

.pic_block{
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background-size: 80% auto;
	background-position: 50% 50%;
	background-repeat: no-repeat!important;
}

.more_nfo{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: rgba(20,20,20,0.7);
	transition: linear 0.2s!important;
}

.more_nfo > div{
	position: relative;	
	top: 20%!important;
	left: 20%;
	width: 60%;
	vertical-align: top;
	height: 60%;
	display: block;
	background-color: #FFFFFF;
	margin: 0;
}

.more_nfo_head{
	height: auto;
	width: auto;
	background-color: #3572AE;
}

.more_nfo_head > a{
	display: inline-block;
	color: #FFFFFF;
	transition: linear 0.2s;
	float: right;
	text-align: right;
	text-decoration: none;
	vertical-align: middle;
	font-family: Verdana;
	background-color: transparent;
}

.more_nfo_head > a:hover{
	background-color: #FF0000;
	transition: linear 0s;
}

.more_nfo_body > img{width: 10%;height: auto;margin: auto;display: block;}

.more_nfo_body > p{
	text-align: justify;
	text-justify: distribute;
	border-color: #000000;
	border-style: solid;
	border-width: 1px 0 0 0;
}

.more_nfo_bottom{
	display: block;
	position: absolute;
}

/*Section 4*/

#quotation_section{
	left: 0;
	background-color: #FFFFFF;
	padding: 1% 30% 2% 30%;
}

#quotation_section > div{
	height: auto;
	width: 100%;
	background-image: url('images/Group/travail_tmp.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#quotation_section > div > div{
	height: auto;
	background-color: rgba(20,20,20,0.5);
}

#quotation_section > div > div:hover > a{
	transition: linear 0s;
	background-color: rgba(53,114,174,0.5);
}

#quotation_section > div > div > a{height: 100%;width: 100%;text-decoration: none!important;display: block;background-color: transparent;}

#quotation_section > div > div > a > div > p{
	color: #FFFFFF;
	font-family: Verdana;
	font-weight: normal;
	text-align: center!important;
}

#quotation_section > div > div > a > div{
	transition: linear 0.1s;
	display: block;
	vertical-align: middle!important;
	width: 100%;
	padding-top: 15%;
	padding-bottom: 15%;
	padding-left: auto;
	padding-right: auto;
	margin: 0;
	background-color: transparent;
	border-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	z-index: 999;
}

/*Section 5*/

/* #news_section{ */
	/* left: 0; */
	/* background-color: #FFFFFF; */
/* } */

/* .news_container{ */
	/* display: inline-block; */
	/* width: 22%; */
	/* margin: 0 1% 0 1%; */
	/* background-color: #FFFFFF; */
	/* height: auto; */
	/* padding: 0; */
	/* overflow: hidden; */
	/* border-width: 1px; */
	/* border-color: #AAAAAA; */
	/* border-style: solid; */
/* } */

/* .new_pic{ */
	/* display: block; */
	/* width: 100%; */
	/* height: 0; */
	/* padding: 0 0 50% 0; */
	/* overflow: hidden; */
/* } */

/* .new_pic > img{ */
	/* width: 100%; */
	/* height: auto; */
	/* display: block; */
	/* margin: auto; */
	/* vertical-align: middle; */
/* } */

/* .new_title{ */
	/* text-align: center; */
	/* color: #FFFFFF; */
	/* background-color: #58BEBE; */
	/* width: 96%; */
	/* font-size: 20px; */
	/* font-weight: bold; */
	/* padding: 2%; */
	/* margin: 0; */
/* } */

/* .new_time{ */
	/* text-align: left; */
	/* color: #000000; */
	/* font-size: 16px; */
	/* font-weight: normal; */
	/* width: 96%; */
	/* padding: 2%; */
	/* margin: 0; */
/* } */

/* .new_desc{ */
	/* color: #AAAAAA; */
	/* text-align: justify; */
	/* text-justify: distribute; */
	/* font-size: 15px; */
	/* padding: 0 10% 110% 10%; */
	/* margin: 10px 0 0 0; */
	/* height: 0; */
	/* overflow: hidden; */
	/* width: 80%; */
/* } */

/* .new_grad{ */
	/* z-index: 8888; */
	/* width: 100%; */
	/* height: 55px; */
	/* background: linear-gradient(transparent, #FFFFFF); */
	/* display: block; */
	/* position: relative; */
	/* bottom: 55px; */
/* } */

/* .new_plus{ */
	/* height: 0; */
	/* width: 100%; */
	/* display: block; */
	/* padding: 0 0 20% 0; */
/* } */

/* .new_plus > a{ */
	/* width: 50%; */
	/* margin: auto; */
	/* display: block; */
/* } */