﻿<head>
<title>JCE - Membres</title>
<link rel="shortcut icon" href="images/Icons/JCE Logo icon.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="members.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">

<!--Top Bar Menu-->

<div class="top_menu">
	<nav id="mainav" class="hoc clear"> 
	<div class="header_logo_main"></div>
		<ul class="clear">
			<li><a href="index.html">Accueil<div class="underline"></div></a></li>
			<li><a href="about.html">La Junior-Conseil ESME<div class="underline"></div></a></li>
	
			<li><a href="projects.html">Projets<div class="underline"></div></a></li>
			<li class="active"><a href="#top">Membres<div class="underline"></div></a></li>
			<li class="quotation_head"><a href="quotation.html">Devis</a></li>
			<li><a href="contact.html">Nous contacter<div class="underline"></div></a></li>
		</ul>
	
		<ul class="faico clear">
			<li><a class="faicon-facebook" href="https://www.facebook.com/JuniorConseilESME/"><i class="fa fa-facebook"></i></a></li>
			<li><a class="faicon-linkedin" href="https://www.linkedin.com/company/junior-conseil-esme"><i class="fa fa-linkedin"></i></a></li>
		</ul>
	</nav>
</div>

<div class="sections"><div class="sections_margin">

<!-- Section 1		Membres actuels -->

		<div class="sub_section">
			<p class="MA">Membres Actuels</p>
			<h1>Le bureau</h1>
			<div class="sub_section_2" id="members_sub">
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/FRANCE_mathieu.jpg" alt="team">
					<div>
						<p class="name">FRANCE Mathieu</p>
						<p class="function">Secrétaire général</p>
					</div>
				</div>
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/ROYET_alexandre.jpg" alt="team">
					<div>
						<p class="name">ROYET Alexandre</p>
						<p class="function">Président</p>
					</div>
				</div>
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/LOTAUT_david.jpg" alt="team">
					<div>
						<p class="name">LOTAUT David</p>
						<p class="function">Trésorier</p>
					</div>
				</div>
			</div>
		</div>

		<div class="sub_section">
			<h1>Pôle projet</h1>
			<div class="sub_section_2" id="members_sub">
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/GODET_paul.jpg" alt="team">
					<div>
						<p class="name">GODET Paul</p>
						<p class="function"><strong>&#9819;</strong> Responsable</p>
					</div>
				</div>
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/PAN_fanny.jpg" alt="team">
					<div>
						<p class="name">PAN Fanny</p>
						<p class="function">Chargé d'études</p>
					</div>
				</div>
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/VINCENT_geoffroy.jpg" alt="team">
					<div>
						<p class="name">VINCENT Geoffroy</p>
						<p class="function">Chargé d'études</p>
					</div>
				</div>
			</div>
		</div>
				
		<div class="sub_section">
			<h1>Pôle Qualité</h1>
			<div class="sub_section_2" id="members_sub">
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/MOHAMMADI_riad.jpg" alt="team">
					<div>
						<p class="name">MOHAMMADI Riad</p>
						<p class="function"><strong>&#9819;</strong> Responsable</p>
					</div>
				</div>
			</div>
		</div>
	
		<div class="sub_section">
			<h1>Pôle communication</h1>
			<div class="sub_section_2" id="members_sub">
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2017/PIERGA_Thibault.jpg" alt="team">
					<div>
						<p class="name">PIERGA Thibault</p>
						<p class="function"><strong>&#9819;</strong> Responsable</p>
					</div>
				</div>
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/DETINGUY_daria.jpg" alt="team">
					<div>
						<p class="name">DE TINGUY Daria</p>
						<p class="function">Coordinatrice inter-association</p>
					</div>
				</div>			
			</div>
		</div>
	
		<div class="sub_section">
			<h1>Pôle Trésorerie</h1>
			<div class="sub_section_2" id="members_sub">
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/LOTAUT_david.jpg" alt="team">
					<div>
						<p class="name">LOTAUT David</p>
						<p class="function"><strong>&#9819;</strong> Responsable</p>
					</div>
				</div>
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/LACOURT_alexandre.jpg" alt="team">
					<div>
						<p class="name">LACOUR Alexandre</p>
						<p class="function">Adjoint</p>
					</div>
				</div>
			</div>
		</div>	



<!-- Section 2		Ancien membres  -->
	<script>
				function visibilite_multi(thingId)
				{
				var currElement = document.getElementById(thingId);
				var targElement = document.getElementById(thingId+"_p");
				var g;
				
				if(currElement.className == "sel")
				{
					currElement.className = "nsel";
					targElement.style.display = "none";
				}
				
				else
				{
					var x = document.getElementsByClassName("sel");
					var i;
					for (i = 0; i < x.length; i++) {
						g = x[i].id+"_p";
						document.getElementById(g).style.display = "none";
						x[i].className = "nsel";
					}
					
					currElement.className = "sel";
					targElement.style.display = "block";
				}
				}
	</script>

	<div class="Y_select">
		<p id="titre"> Anciens Mandats</p>
		<!-- Mandat 20xx
			<div class="nsel" id="2016">
				<a href="javascript:visibilite_multi('2016');">2016</a>
			</div> -->
		<div class="nsel" id="2017">
			<a href="javascript:visibilite_multi('2017');">2017</a>
		</div>
			
	</div>
	<div id="2017_p" style = "display: none;" class="p_list">
		<div class="sub_section">
			<h1>Le bureau</h1>
			<div class="sub_section_2" id="members_sub">
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2017/PIERGA_Thibault.jpg" alt="team">
					<div>
						<p class="name">PIERGA Thibault</p>
						<p class="function">Secrétaire général</p>
					</div>
				</div>
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/LANGLE_david.jpg" alt="team">
					<div>
						<p class="name">LANGLÉ David</p>
						<p class="function">Président</p>
					</div>
				</div>
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/LACOURT_alexandre.jpg" alt="team">
					<div>
						<p class="name">LACOUR Alexandre</p>
						<p class="function">Trésorier</p>
					</div>
				</div>
			</div>
		</div>
	
		<div class="sub_section">
			<h1>Pôle projet</h1>
			<div class="sub_section_2" id="members_sub">
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/PAN_fanny.jpg" alt="team">
					<div>
						<p class="name">PAN Fanny</p>
						<p class="function">Responsable pôle projets</p>
					</div>
				</div>
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/DETINGUY_daria.jpg" alt="team">
					<div>
						<p class="name">DE TINGUY Daria</p>
						<p class="function">Chargé d'études</p>
					</div>
				</div>
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2017/COSTE_Raphael.jpg" alt="team">
					<div>
						<p class="name">COSTES Raphaël</p>
						<p class="function">Chargé d'études</p>
					</div>
				</div>
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/VINCENT_geoffroy.jpg" alt="team">
					<div>
						<p class="name">VINCENT Geoffroy</p>
						<p class="function">Chargé d'études</p>
					</div>
				</div>
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/GODET_paul.jpg" alt="team">
					<div>
						<p class="name">GODET Paul</p>
						<p class="function">Chargé d'études</p>
					</div>
				</div>
			</div>
		</div>
	
		<div class="sub_section">
			<h1>Pôle communication</h1>
			<div class="sub_section_2" id="members_sub">
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/ROYET_alexandre.jpg" alt="team">
					<div>
						<p class="name">ROYET Alexandre</p>
						<p class="function">Responsable pôle communication</p>
					</div>
				</div>
				<div class="member_big">
					<img src="images/Team/team-img-03.jpg" alt="team">
					<div>
						<p class="name">BARRE Louis-Adrien</p>
						<p class="function">Assistant</p>
					</div>
				</div>
			</div>
		</div>
	
		<div class="sub_section">
			<h1>Pôle Trésorerie</h1>
			<div class="sub_section_2" id="members_sub">
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/LACOURT_alexandre.jpg" alt="team">
					<div>
						<p class="name">LACOUR Alexandre</p>
						<p class="function">Trésorier</p>
					</div>
				</div>
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2017/ANIDJAR_Ruben.jpg" alt="team">
					<div>
						<p class="name">ANIDJAR Ruben</p>
						<p class="function">Comptable</p>
					</div>
				</div>
				<div class="member_big">
					<img src="images/Team/Bureau_mandat_2018/FRANCE_mathieu.jpg" alt="team">
					<div>
						<p class="name">FRANCE Mathieu</p>
						<p class="function">Trésorier Adjoint</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Mandat 2016 

	<div id="2016_p" style = "display: none;" class="p_list">
		<div class="sub_section">
			<h1>Le bureau</h1>
			<div class="sub_section_2" id="members_sub">
				<div class="member_big">
					<img src="images/Team/team-img-03.jpg" alt="team">
					<div>
						<p class="name"></p>
						<p class="function"></p>
					</div>
				</div>
				<div class="member_big">
					<img src="images/Team/team-img-03.jpg" alt="team">
					<div>
						<p class="name"></p>
						<p class="function"></p>
					</div>
				</div>
				<div class="member_big">
					<img src="images/Team/team-img-03.jpg" alt="team">
					<div>
						<p class="name"></p>
						<p class="function"></p>
					</div>
				</div>
			</div>
		</div>
	
		<div class="sub_section">
			<h1>Pôle projets</h1>
			<div class="sub_section_2" id="members_sub">
				<div class="member_big">
					<img src="images/Team/team-img-03.jpg" alt="team">
					<div>
						<p class="name"></p>
						<p class="function"></p>
					</div>
				</div>
			</div>
		</div>
	
		<div class="sub_section">
			<h1>Pôle communication</h1>
			<div class="sub_section_2" id="members_sub">
				<div class="member_big">
					<img src="images/Team/team-img-03.jpg" alt="team">
					<div>
						<p class="name"></p>
						<p class="function"></p>
					</div>
				</div>
				<div class="member_big">
			</div>
		</div>
	
		<div class="sub_section">
			<h1>Pôle Qualité</h1>
			<div class="sub_section_2" id="members_sub">
				<div class="member_big">
					<img src="images/Team/team-img-03.jpg" alt="team">
					<div>
						<p class="name"></p>
						<p class="function"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="sub_section">
			<h1>Pôle Trésorerie</h1>
			<div class="sub_section_2" id="members_sub">
				<div class="member_big">
					<img src="images/Team/team-img-03.jpg" alt="team">
					<div>
						<p class="name"></p>
						<p class="function"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->

</div>
<!--Contact-->

	<footer class="ending" id="full_bottom">
		<div class="contact">
			<div class="ct_nfo">
				<h5>Nous contacter</h5>
				<address><span class="sec_tit">Junior-Conseil ESME</span><br />
					<span class="marge"></span>&#9993;&nbsp;&nbsp;<span class="it"><a class="ct_link" href="mailto:contact@jcesme.fr">contact@jcesme.fr</span></a><br />
					<span class="marge"></span>&#9742;&nbsp;&nbsp;<span class="it">+33 6 52 37 00 03</span><br />
				</address>
				<p class="loc"><span class="sec_tit">ESME Sudria</span><br />38 rue Molière, Ivry-sur-Seine<br />94200 FRANCE<br />Voir accueil au rez-de-chaussée</p>
				<div class="map">
				
				</div>
			</div>
			<div class="partners">
				<h5>Partenaires</h5>
				<div class="partners_pic">
					<img src="images/Partners/Esme.png" alt="E.S.M.E Sudria" class="pt_icon">
					<img src="images/Partners/AIESME.png" alt="AIESME Sudria" class="pt_icon">
					<img src="images/Partners/JE.png" alt="CNJE" class="pt_icon">
				</div>
			</div>
		</div>
		<div class="copyrights">
			<div class="JCE">© 2016-2017 JCE | Association loi 1901 de type Junior-Entreprise</div>
			<div class="WeebM">Site JCE 1.1 | Conception : Kushuh神 | Codé par : Kushuh神, Ru-Senpai | Modifié par : MOHAMMADI Riad</div>
		</div>
	</footer>

</div>
</body>
</html>