﻿<head>
<title>JCE - Projets</title>
<link rel="shortcut icon" href="images/Icons/JCE Logo icon.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="projects.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">

<!--Top Bar Menu-->

<div class="top_menu">
	<nav id="mainav" class="hoc clear"> 
	<div class="header_logo_main"></div>
		<ul class="clear">
			<li><a href="index.html">Accueil<div class="underline"></div></a></li>
			<li><a href="about.html">La Junior-Conseil ESME<div class="underline"></div></a></li>
	
			<li class="active"><a href="#top">Projets<div class="underline"></div></a></li>
			<li><a href="members.html">Membres<div class="underline"></div></a></li>
			<li class="quotation_head"><a href="quotation.html">Devis</a></li>
			<li><a href="contact.html">Nous contacter<div class="underline"></div></a></li>
		</ul>
	
		<ul class="faico clear">
			<li><a class="faicon-facebook" href="https://www.facebook.com/JuniorConseilESME/"><i class="fa fa-facebook"></i></a></li>
			<li><a class="faicon-linkedin" href="https://www.linkedin.com/company/junior-conseil-esme"><i class="fa fa-linkedin"></i></a></li>
		</ul>
	</nav>
</div>

<div class="sections"><div class="sections_margin">

<!--Section 0-->

	<div class="sub_section">
		<h1>Nos projets</h1>
		<div class="sub_section_2" id="projects_sub">
			<img src="images/Icons/projects.png" alt="">
			<p><span class="marge"></span>Les projets sont le coeur de l’activité d’une Junior Entreprise. Ils sont le lien entre les entreprises et les étudiants, le vecteur de toutes ses réalisations. Voici une liste de toutes nos réalisations présentes et passées, gage de notre qualité et de notre sérieux.</p>
		</div>
	</div>
	
<!--Section 1-->

	<div class="sub_section">
		<h1>Nos clients majeurs</h1>
		<div class="sub_section_2" id="clients_sub">
			<div id="clients_list">
				<img src="images/Projets/ESME.jpg" class="project" width="10" height="150" >
				<img src="images/Projets/CEA.png" class="project" width="100" height="150">
				<img src="images/Projets/AIESME.png" class="project" width="10" height="150">
				<img src="images/Projets/Omniscol.png" class="project" width="10" height="150">
				<img src="images/Projets/plifaltec.png" class="project" width="10" height="150">
			</div>
		</div>
	</div>
	
<!--Section 2-->

			<script>
				function visibilite_multi(thingId)
				{
				var currElement = document.getElementById(thingId);
				var targElement = document.getElementById(thingId+"_p");
				var g;
				
				if(currElement.className == "sel")
				{
					currElement.className = "nsel";
					targElement.style.display = "none";
				}
				
				else
				{
					var x = document.getElementsByClassName("sel");
					var i;
					for (i = 0; i < x.length; i++) {
						g = x[i].id+"_p";
						document.getElementById(g).style.display = "none";
						x[i].className = "nsel";
					}
					
					currElement.className = "sel";
					targElement.style.display = "block";
				}
				}
			</script>

	<div class="sub_section">
		<h1>Les principaux projets</h1>
		<div class="sub_section_2" id="projects_list_sub">
<!--
			<div class="Y_select">
				<p>Mandats</p>
				<div class="nsel" id="2017">
					<a href="javascript:visibilite_multi('2017');">2017</a>
				</div>
				<div class="nsel" id="2018">
					<a href="javascript:visibilite_multi('2018');">2018</a>
				</div>
			</div>
-->
<!--
			<div class="P_display">
				<div id="2017_p" style = "display: none;" class="p_list" id="projetmene">
-->
				<p><div style='text-align: center'>Mandats 2019</div></p>
					<div class="project_big" >
						<p class="title" id="f_m">Boitier Yoko</p>
						<img src="images/Projets/plifaltec.png" alt="project">
						<div>
							<p class="client" >Datastorm</p>
							<p class="statut" id="f">Terminé</p>
							<p class="pr_desc">YOKO propose une solution fiable et éthique pour compter le nombre de personnes dans un espace donné. Ceci consiste en un système de capteurs et d’algorithmes d’intelligence artificielle. Ce système est utilisé au service de clients prestigieux qui utilisent l’analyse de ces données dans leur démarche qualité. Cette solution peut par exemple permettre d’analyser des taux de conversion.</p>
						</div>
					</div>
				
					
				</div>
<!--
				<div id="2018_p" style = "display: none;" class="p_list">
-->
				<p><Mandats 2018</p>
					<div class="project_big">
						<p class="title" id="ecf_m">Sphère à LEDs</p>
						<img src="images/Projets/ESME.jpg" alt="project">
						<div>
							<p class="client">ESME Sudria</p>
							<p class="statut" id="ecf">En cours de finalisation</p>
							<p class="pr_desc">L’ESME Sudria fait appel à la Junior-Conseil ESME afin d’améliorer plusieurs projets de Master 1 et 2. En effet, de nombreux projets de fin d’étude sont finis mais restent sous forme de prototype. Le but est ainsi de les terminer, de les rendre plus attractifs, simples d’utilisation et faciles à expliquer, afin de s’en servir comme éléments de démonstrations pour l’école, lors des Journées Portes Ouvertes.<br /><br />Ainsi, ces projets permettraient d’attirer des lycéens ou étudiants, pour leur donner une vision concrète et des exemples tangibles du métier d’ingénieur et des compétences qu’ils pourraient acquérir en intégrant l’ESME Sudria. Ils auront donc un but pédagogique, qui sera d’amener ces étudiants à comprendre par eux-mêmes, à travers des manipulations ou présentations interactives, le fonctionnement de ces projets. L’un d’eux est une sphère de diodes électroluminescentes, pouvant afficher en temps réel un message entré par un utilisateur.</p>
						</div>
					</div>
					<div class="project_big">
						<p class="title" id="ecf_m">Serrure NFC</p>
						<img src="images/Projets/ESME.jpg" alt="project">
						<div>
							<p class="client">ESME Sudria</p>
							<p class="statut" id="ecf">En cours de finalisation</p>
							<p class="pr_desc">Dans le cadre de son contrat de partenariat avec l’ESME Sudria, Junior-Conseil ESME se doit de proposer des projets pédagogiques valorisant les enseignements des différents laboratoires de l’école.<br /><br />Nous avons vu naître, ces dernières années, un engouement pour les objets connectés. Situés à la frontière entre la mécatronique et les réseaux, les projets portés sur les objets connectés constituent un véritable enjeu pour les ingénieurs de demain. C’est ce défi qu’ont voulu relever deux élèves de B2 en fabriquant une serrure qui pourrait être pilotée à l’aide d’un téléphone mobile. La difficulté de ce projet sera de respecter les fonctions contraintes d’une serrure classique notamment concernant la sécurité.<br /><br />Les intervenants proposent donc de créer une application Android dotée d’une double sécurité (cf. cahier des charges) qui permettra de déverrouiller une serrure à proximité. Ce projet aura comme objectif premier de promouvoir l’image de l’ESME Sudria.</p>
						</div>
					</div>
					<div class="project_big" >
						<p class="title" id="f_m">Création plateforme Plifaltec</p>
						<img src="images/Projets/plifaltec.png" alt="project">
						<div>
							<p class="client" >Plifaltec</p>
							<p class="statut" id="f">Terminé</p>
							<p class="pr_desc">Plifaltec, jeune entreprise innovante spécialisée dans le pliage, le froissage et le biomimétisme, créatrice de présentoirs, d’emballages et d’expositions, souhaite revenir aux origines du pliage : l’origami.<br /><br />Dans ce cadre, la société va prochainement lancer sa gamme : Prêt à Plier, une gamme d’origami à plier soit même. Afin de promouvoir les différents produits qui seront proposé, Plifaltec a besoin d’un site internet qui mette en avant l’élégance et la facilité de réalisation de ses produits.<br /><br />Junior-Conseil ESME se propose donc de réaliser un site Internet suivant les inspirations et l’esthétique de Plifaltec ainsi que de l’origami. Dans l’optique d’une solution pérenne, l’association propose un site qui pourra évoluer en fonction des produits proposés dans cette gamme et de leur nombre, avec une interface utilisateur qui permettra un maximum d’ajouts et de modification, sans avoir à passer par des lignes de codes.</p>
						</div>
					</div>
<!--				</div>          -->
				<p>Mandats 2017</p>
					<div class="project_big">
						<p class="title" id="f_m">Traduction plateforme Omniscol</p>
						<img src="images/Projets/Omniscol.png" alt="project">
						<div>
							<p class="client" id="projetfini">Linacs SAS</p>
							<p class="statut" id="f">Terminé</p>
							<p class="pr_desc">Omniscol est une Start-Up proposant une manière innovante de gérer son emploi du temps. Connaissant un relatif succès et souhaitant étendre sa zone d’activité, elle cherche à rendre accessible son offre à travers le monde, et a pour cela besoin d’un site internet transcrit dans une variété de langues.<br /><br />L’ESME proposant différentes langues dans son cursus, la JCE s’est proposée pour 4 intervenants pour ajouter 4 langues nouvelles au site(portugais, chinois, allemand et espagnol).</p>
						</div>
					</div>
					<div class="project_big">
						<p class="title" id="f_m">Robot manipulateur de puces</p>
						<img src="images/Projets/CEA.png" alt="project">
						<div>
							<p class="client">CEA</p>
							<p class="statut" id="f">Terminé</p>
							<p class="pr_desc">Le CEA Saclay est un établissement public de recherche pluridisciplinaire. La recherche fondamentale y occupe une place très importante. L’IRFU (Institut de Recherche sur les lois Fondamentales de l’Univers) est l’un de ces pôles de recherche fondamentale. Ses activités scientifiques relèvent de l’astrophysique, de la physique nucléaire et de la physique des particules. Dans le cadre de ses recherches, l’IRFU est amené à participer à de nombreux projets de recherche. L’un d’entre eux est le futur réseau de télescopes Cherenkof (CTA). Ces télescopes possèdent des caméras NectarCAM dotées de puces NECTAR qui peuvent être livrées défaillantes. L’institut doit produire et fournir 40 000 puces NECTAR qui se doivent d’être préalablement testées. Devant la fastidiosité de la tâche, une solution robotique a été retenue.<br /><br />La Junior-Conseil de l’ESME Sudria se propose d’apporter des solutions réalistes, afin de finaliser ce projet.<br /><br />La réalisation du projet aboutira à une amélioration significative et mesurable du robot manipulateur/testeur de puces NECTAR. Il gagnera ainsi en fiabilité, durabilité, rapidité, précision, ergonomie et sécurité.<br /><br />Afin d’augmenter la fiabilité ainsi que la durabilité, nous proposons d’améliorer mécaniquement le robot et de corriger le problème des fuites de mémoire. Pour gagner en rapidité, nous souhaitions améliorer l’intelligence et l’automatisme du robot. L’ergonomie serait augmentée par la mise en place d’une liaison logicielle et la simplification de l’interface déjà existante entre le banc de tests et le robot. Enfin, nous accordons une grande importance à la sécurité et nous nous appliquons à rendre le robot plus sûr, l’objectif étant de minimiser les interventions humaines.</p>
						</div>
					</div>
					<div class="project_big">
						<p class="title" id="f_m">Étude de marché AIESME</p>
						<img src="images/Projets/AIESME.png" alt="project">
						<div>
							<p class="client">AIESME</p>
							<p class="statut" id="f">Terminé</p>
							<p class="pr_desc">L'association AIESME est une structure qui permet de garder un lien entre les ingénieurs de demain et les professionnels d'aujourd'hui. Cette association crée par des diplômés de l'ESME Sudria a pour but d'aider professionnellement les élèves et anciens élèves de l'école. Leurs services consistent en l'organisation de conférences, d'ateliers, de formations, et de coachings ouverts à tous ou d'une assistance soutenue à ses cotisants. Aujourd’hui, l’association n’a qu’une très faible visibilité auprès des étudiants de l’ESME. La raison de cette situation n’est pas clairement définie. C’est donc pour cela que la Junior Conseil ESME s’engage à suivre une étude marketing auprès des nouvelles générations afin d’agrandir le nombre de cotisants de l’AIESME. Cela en comprenant pourquoi les membres de l’ESME ne sont pas impliqués auprès de l’AIESME et donner des solutions pour remédier à ce souci d’ici 2023.</p>
						</div>
					</div>
			</div>
		</div>
	</div>

</div>

<!--Contact-->

	<footer class="ending" id="full_bottom">
		<div class="contact">
			<div class="ct_nfo">
				<h5>Nous contacter</h5>
				<address><span class="sec_tit">Junior-Conseil ESME</span><br />
					<span class="marge"></span>&#9993;&nbsp;&nbsp;<span class="it"><a class="ct_link" href="mailto:contact@jcesme.fr">contact@jcesme.fr</span></a><br />
					<span class="marge"></span>&#9742;&nbsp;&nbsp;<span class="it">+33 6 52 37 00 03</span><br />
				</address>
				<p class="loc"><span class="sec_tit">ESME Sudria</span><br />38 rue Molière, Ivry-sur-Seine<br />94200 FRANCE<br />Voir accueil au rez-de-chaussée</p>
				<div class="map">
				
				</div>
			</div>
			<div class="partners">
				<h5>Partenaires</h5>
				<div class="partners_pic">
					<img src="images/Partners/Esme.png" alt="E.S.M.E Sudria" class="pt_icon">
					<img src="images/Partners/AIESME.png" alt="AIESME Sudria" class="pt_icon">
					<img src="images/Partners/JE.png" alt="CNJE" class="pt_icon">
				</div>
			</div>
		</div>
		<div class="copyrights">
			<div class="JCE">© 2016-2017 JCE | Association loi 1901 de type Junior-Entreprise</div>
			<div class="WeebM">Site JCE 1.1 | Conception : Kushuh神 | Codé par : Kushuh神, Ru-Senpai | Modifié par : MOHAMMADI Riad</div>
		</div>
	</footer>

</div>
</body>
</html>