@media all and (max-width:2400px) and (min-width:1600px) and (min-aspect-ratio: 1/1)
{
	/*styles.css*/
	.project_big > div{width: 84.6%;}
	#short_section >  p{font-size: 20px;line-height: 30px;}
	.sections{top: 57px;}
	.sub_section_2{padding: 12px;left: -12px;}
	.sub{padding: 10px 75px 10px 75px;font-size: 18px;}
	h1{font-size: 30px;line-height: 35px!important;padding: 12px 0 12px 0;}
	h2{font-size: 20px;}
	h3{font-size: 60px;line-height: 70px;margin: 10px;}
	h4{font-size: 30px;line-height: 40px;max-height: 80px;}
	h6{font-size: 20px;line-height: 30px;padding: 0 15px 0 15px;}
	.bottom_btn{font-size: 20px;line-height: 25px;max-height: 80px;padding: 8px 45px 8px 45px;border-radius: 6px;}
	.top_menu{height: 57px;}
	.header_logo_main{top: -10px;width: 77px!important;height: 77px!important;background-size: 77px 77px;}
	.faico{top: 7px;height: 41px!important;margin: 0 8px 0 0;}
	.faico li{height: 41px;width: 41px;}
	#mainav > ul.faico.clear > li > a > i{top: 9px;}
	.faico a{width:41px;height:41px;line-height:41px;font-size:26px!important;}
	#mainav > ul{margin-left: 90px;}
	.underline{top: 5px;height: 2px;}
	.top_menu{border-width: 0 0 2px 0;}
	#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{font-size:10px;line-height:10px;}
	#mainav ul ul{width:160px;}
	#mainav ul ul ul{left:160px;}
	#mainav li{margin:0 30px 0 0;}
	#mainav li a{padding:20px 0;}
	#mainav .drop{padding-left:15px;}
	#mainav li li a, #mainav li li .drop{padding:10px 15px;}
	#mainav .drop::after{top:25px;left:5px;}
	#mainav li li .drop::after{top:15px; left:5px;}
	#mainav form{padding:20px 0;}
	#mainav form select{padding:5px;}
	#mainav form select option{margin:5px;}
	.clear > li > a{font-size: 17px;}
	h5{font-size: 20px;line-height: 25px;}
	.ct_nfo > address{font-size: 15px;line-height: 20px;}
	.loc{font-size: 15px;line-height: 20px;}
	.sec_tit{line-height: 25px;}
	.pt_icon{height: 100px;}
	.JCE, .WeebM{font-size: 15px;line-height: 20px;}
	.title{font-size: 20px;}
	.client, .statut{font-size: 15px;padding: 0 15px 15px 5px;}
	.pr_desc{font-size: 15px;padding: 0 15px 0 5px;}
	.quotation_head, .quotation_head_active{padding: 0px 20px 0px 18px!important;}
	.quotation_head > a, .quotation_head_active > a{padding-bottom: 16px!important;}
	/*index.css*/
	.line_nfob{width: 22.7%;}
	.group_pic{top: 57px;}
	#main-sections{top: 27px!important;padding: 30px 0 0 0!important;background-size: 100% 30px;}
	.logo_big{top: 27px;}
	#intro_section{top: -30px;}
	.intro_text_2 > .slogan_desc{font-size: 20px;line-height: 26px;}
	.head_ftit{height: 75px;}
	.more_nfo_head{padding: 10px;}
	.more_nfo_head > a{font-size: 20px;margin-top: -10px;margin-right: -10px;padding: 10px 20px 10px 20px;}
	.more_nfo_body{padding: 15px;}
	.more_nfo_body > p{margin: 15px 0 0 0;padding: 15px 0 0 0;}
	.more_nfo_bottom{bottom: 23px;right: 15px;}
	#quotation_section > div > div > a > div > p{height: 40px;font-size: 40px;line-height: 45px;}
	#quotation_section > div > div > a > div{height: 120px;}
	/*about.css*/
	.container_float > p{padding: 0 15px 15px 15px!important;font-size: 18px;}
	#quotation_back{top: 10px;left: 15px;}
	.skills_main > p{font-size: 18px;padding: 0 0 15px 0;}
	.head_ftit{padding: 0 0 15px 0;}
	.skills_sub > p{font-size: 20px;}
	.name{font-size: 20px;margin: 15px;}
	.function{font-size: 18px;margin: 15px;}
	/*projets.css*/
	#projects_sub > p{font-size: 20px;line-height: 26px;}
	.clients_list > img{height: 200px;}
	.Y_select > p{font-size: 20px;margin: 0 0 15px 0;}
	.Y_select > div{font-size: 16px;}
	.P_display{width: 83.6%;}
	/*quotation.css*/
	.furi{font-size: 15px;margin: 0 0 10px 0;}
	.skill_field, .skill_bill, .skill_delay, .skill_description, .skill_fname, .skill_lname, .skill_email, .skill_phone{font-size: 14px!important;box-shadow: 0 0 15px #AAAAAA!important;padding: 10px;}
	.indication{font-size: 15px;}
}

@media all and (max-width:1250px) and (min-aspect-ratio: 1/1)
{
	/*styles.css*/
	.project_big > div{width: 84%;}
	#short_section >  p{font-size: 11px;line-height: 17px;}
	.sections{top: 32px;}
	.sub_section_2{padding: 7px;left: -7px;}
	.sub{padding: 6px 42px 6px 42px;font-size: 11px;}
	h1{font-size: 17px;line-height: 20px!important;padding: 7px 0 7px 0;}
	h2{font-size: 11px;}
	h3{font-size: 34px;line-height: 40px;margin: 6px;}
	h4{font-size: 17px;line-height: 23px;max-height: 45px;}
	h6{font-size: 11px;line-height: 17px;padding: 0 8px 0 8px;}
	.bottom_btn{font-size: 11px;line-height: 15px;max-height: 45px;padding: 5px 26px 5px 26px;border-radius: 4px;}
	.top_menu{height: 32px;}
	.header_logo_main{top: -6px;width: 44px!important;height: 44px!important;background-size: 44px 44px;}
	.faico{top: 4px;height: 24px!important;margin: 0 5px 0 0;}
	.faico li{height: 24px;width: 24px;}
	#mainav > ul.faico.clear > li > a > i{top: 5px;}
	.faico a{width:24px;height:24px;line-height:24px;font-size:15px!important;}
	#mainav > ul{margin-left: 51px;}
	.underline{top: 1px;height: 1px;}
	.top_menu{border-width: 0 0 1px 0;}
	#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{font-size:6px;line-height:6px;}
	#mainav ul ul{width:90px;}
	#mainav ul ul ul{left:90px;}
	#mainav li{margin:0 17px 0 0;}
	#mainav li a{padding:8px 0;}
	#mainav .drop{padding-left:8px;}
	#mainav li li a, #mainav li li .drop{padding:6px 8px;}
	#mainav .drop::after{top:15px;left:3px;}
	#mainav li li .drop::after{top:8px; left:3px;}
	#mainav form{padding:11px 0;}
	#mainav form select{padding:4px;}
	#mainav form select option{margin:4px;}
	.clear > li > a{font-size: 10px;}
	h5{font-size: 11px;line-height: 15px;}
	.ct_nfo > address{font-size: 8px;line-height: 11px;}
	.loc{font-size: 8px;line-height: 11px;}
	.sec_tit{line-height: 19px;}
	.pt_icon{height: 56px;}
	.JCE, .WeebM{font-size: 8px;line-height: 11px;}
	.title{font-size: 11px;}
	.client, .statut{font-size: 8px;padding: 0 8px 8px 3px;}
	.pr_desc{font-size: 8px;padding: 0 8px 0 3px;}
	.quotation_head, .quotation_head_active{padding: 0px 11px 0px 11px!important;}
	.quotation_head > a, .quotation_head_active > a{padding-bottom: 11.5px!important;}
	/*index.css*/
	.line_nfob{width: 22%;}
	.group_pic{top: 32px;}
	#main-sections{top: 15px!important;padding: 17px 0 0 0!important;background-size: 100% 17px;}
	.logo_big{top: 15px;}
	#intro_section{top: -17px;}
	.intro_text_2 > .slogan_desc{font-size: 11px;line-height: 15px;}
	.head_ftit{height: 42px;}
	.more_nfo_head{padding: 6px;}
	.more_nfo_head > a{font-size: 11px;margin-top: -6px;margin-right: -6px;padding: 9px 11px 8px 11px;}
	.more_nfo_body{padding: 8px;}
	.more_nfo_body > p{margin: 8px 0 0 0;padding: 8px 0 0 0;}
	.more_nfo_bottom{bottom: 14px;right: 8px;}
	#quotation_section > div > div > a > div > p{height: 23px;font-size: 23px;line-height: 26px;}
	#quotation_section > div > div > a > div{height: 68px;}
	/*about.css*/
	.container_float > p{padding: 0 8px 8px 8px!important;font-size: 10px;}
	#quotation_back{top: 6px;left: 8px;}
	.skills_main > p{font-size: 11px;padding: 0 0 8px 0;}
	.head_ftit{padding: 0 0 8px 0;}
	.skills_sub > p{font-size: 11px;}
	.name{font-size: 11px;margin: 8px;}
	.function{font-size: 11px;margin: 8px;}
	/*projets.css*/
	#projects_sub > p{font-size: 11px;line-height: 15px;}
	.clients_list > img{height: 113px;}
	.Y_select > p{font-size: 11px;margin: 0 0 8px 0;}
	.Y_select > div{font-size: 9px;}
	.P_display{width: 83.5%;}
	/*quotation.css*/
	.furi{font-size: 9px;margin: 0 0 6px 0;}
	.skill_field, .skill_bill, .skill_delay, .skill_description, .skill_fname, .skill_lname, .skill_email, .skill_phone{font-size: 8px!important;box-shadow: 0 0 9px #AAAAAA!important;padding: 6px;}
	.indication{font-size: 9px;}
} 

@media all and (min-aspect-ratio: 1/1)
{
	/*Top menu*/

	.quotation_head{
		background-color: #5B8EBE;
		color: #FFFFFF!important;
		transition: linear 0.2s;
	}

	.quotation_head:hover, .quotation_head_active{transition: linear 0s;background-color: #DD8623;}

	.quotation_head > a, .quotation_head_active > a{color: #FFFFFF!important;}

	.top_menu{
		position: fixed;
		z-index: 9997;
		width: 100%;
		top: 0;
		left: 0;
		background-color: #FFFFFF;
		font-family: Verdana;
		border-style: solid;
		border-color: #5B8EBE;
		text-align:left;
		word-wrap:break-word;
		text-decoration: none;
		color: #000000;
	}

	.header_logo_main{
		position: absolute;
		display: inline-block;
		background-image:url('images/Icons/JCE Logo alternatif RD.png');
		left: 0;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.faico{
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		right: 0;
		width: auto!important;
		border-style: solid;
		border-color: #5B8EBE;
		border-width: 1px;
		color:#5B8EBE;
	}

	.faico li{
		display:inline-block;
		margin: 0;
		padding: 0;
		line-height: normal;
	}

	#mainav > ul.faico.clear > li > a > i{
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		color: #5B8EBE;
		transition: linear 0s;
	}

	#mainav > ul.faico.clear > li:hover > a > i{
		color: #FFFFFF;
		transition: linear 0s;
	}

	.faico li:last-child{margin:0;}
	.faico a{display:inline-block;text-align:center;padding: 0!important;}

	.faico a{background-color:#FFFFFF; transition: linear 0.2s;}
	.faico:hover{transition: linear 0s;}

	.faicon-facebook:hover{background-color:#3B5998!important; transition: linear 0s;}
	.faicon-google-plus:hover{background-color:#DB4A39!important; transition: linear 0s;}
	.faicon-linkedin:hover{background-color:#0E76A8!important; transition: linear 0s;}
	.faicon-twitter:hover{background-color:#00ACEE!important; transition: linear 0s;}

	#mainav > ul.faico.clear > li{margin: 0!important;}

	*, *::before, *::after{transition:all .3s ease-in-out;}
	#mainav form *{transition:none !important;}

	nav ul, nav ol{margin:0; padding:0; list-style:none;}

	#mainav > ul{
		width: 100%;
		text-transform:uppercase;
	}

	.underline{
		width: 0;
		position: relative;
		background-color: #5B8EBE;
		transition: linear 0s;
	}

	#mainav a:hover > div[class="underline"], #mainav .active a > div[class="underline"], #mainav > ul > li:hover > a > div[class="underline"]{width: 100%;transition: width .35s ease-in-out;}

	#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
	#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome";}

	#mainav ul ul{z-index:9999; position:absolute;text-transform:none;}
	#mainav ul ul ul{top:0;}
	#mainav li{display:inline-block; position:relative;padding:0;}
	#mainav li:last-child{margin-right:0;}
	#mainav li li{width:100%; margin:0;}
	#mainav li a{display:block;text-decoration: none!important;}
	#mainav li li a{border:solid; border-width:0 0 1px 0;}
	#mainav li li a, #mainav li li .drop{display:block; margin:0;text-decoration: none!important;}
	#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
	#mainav ul ul{visibility:hidden; opacity:0;}
	#mainav ul li:hover > ul{visibility:visible; opacity:1;}
	
	#mainav form{display:none; margin:0;}
	#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
	#mainav form select{width:100%;border:1px solid;}
	#mainav form select option{padding:0; border:none;}

	#mainav ul.clear > li a{color: #000000;}
	#mainav > ul > li > ul > li > a{color: #000000;}
	#mainav .active a{color:#5B8EBE!important;}
	#mainav li:hover > a{color:#FFFFFF;}
	#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color: #FFFFFF;border-color: #5B8EBE;}
	#mainav li li:hover > a{color:#FFFFFF!important; background-color:#5B8EBE;}
	#mainav .active .active > a{background-color: #DD8623; color: #FFFFFF!important;}
	#mainav form select{color:#474747; background-color:#FFFFFF; border-color:rgba(0,0,0,.2);}
}


@media all and (min-aspect-ratio: 1/1)
{
	/*Top menu*/

	.quotation_head{
		background-color: #5B8EBE;
		color: #FFFFFF!important;
		transition: linear 0.2s;
	}

	.quotation_head:hover, .quotation_head_active{transition: linear 0s;background-color: #DD8623;}

	.quotation_head > a, .quotation_head_active > a{color: #FFFFFF!important;}

	.top_menu{
		position: fixed;
		z-index: 9997;
		width: 100%;
		top: 0;
		left: 0;
		background-color: #FFFFFF;
		font-family: Verdana;
		border-style: solid;
		border-color: #5B8EBE;
		text-align:left;
		word-wrap:break-word;
		text-decoration: none;
		color: #000000;
	}

	.header_logo_main{
		position: absolute;
		display: inline-block;
		background-image:url('images/Icons/JCE Logo alternatif RD.png');
		left: 0;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.faico{
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		right: 0;
		width: auto!important;
		border-style: solid;
		border-color: #5B8EBE;
		border-width: 1px;
		color:#5B8EBE;
	}

	.faico li{
		display:inline-block;
		margin: 0;
		padding: 0;
		line-height: normal;
	}

	#mainav > ul.faico.clear > li > a > i{
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		color: #5B8EBE;
		transition: linear 0s;
	}

	#mainav > ul.faico.clear > li:hover > a > i{
		color: #FFFFFF;
		transition: linear 0s;
	}

	.faico li:last-child{margin:0;}
	.faico a{display:inline-block;text-align:center;padding: 0!important;}

	.faico a{background-color:#FFFFFF; transition: linear 0.2s;}
	.faico:hover{transition: linear 0s;}

	.faicon-facebook:hover{background-color:#3B5998!important; transition: linear 0s;}
	.faicon-google-plus:hover{background-color:#DB4A39!important; transition: linear 0s;}
	.faicon-linkedin:hover{background-color:#0E76A8!important; transition: linear 0s;}
	.faicon-twitter:hover{background-color:#00ACEE!important; transition: linear 0s;}

	#mainav > ul.faico.clear > li{margin: 0!important;}

	*, *::before, *::after{transition:all .3s ease-in-out;}
	#mainav form *{transition:none !important;}

	nav ul, nav ol{margin:0; padding:0; list-style:none;}

	#mainav > ul{
		width: 100%;
		text-transform:uppercase;
	}

	.underline{
		width: 0;
		position: relative;
		background-color: #5B8EBE;
		transition: linear 0s;
	}

	#mainav a:hover > div[class="underline"], #mainav .active a > div[class="underline"], #mainav > ul > li:hover > a > div[class="underline"]{width: 100%;transition: width .35s ease-in-out;}

	#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
	#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome";}

	#mainav ul ul{z-index:9999; position:absolute;text-transform:none;}
	#mainav ul ul ul{top:0;}
	#mainav li{display:inline-block; position:relative;padding:0;}
	#mainav li:last-child{margin-right:0;}
	#mainav li li{width:100%; margin:0;}
	#mainav li a{display:block;text-decoration: none!important;}
	#mainav li li a{border:solid; border-width:0 0 1px 0;}
	#mainav li li a, #mainav li li .drop{display:block; margin:0;text-decoration: none!important;}
	#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
	#mainav ul ul{visibility:hidden; opacity:0;}
	#mainav ul li:hover > ul{visibility:visible; opacity:1;}
	
	#mainav form{display:none; margin:0;}
	#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
	#mainav form select{width:100%;border:1px solid;}
	#mainav form select option{padding:0; border:none;}

	#mainav ul.clear > li a{color: #000000;}
	#mainav > ul > li > ul > li > a{color: #000000;}
	#mainav .active a{color:#5B8EBE!important;}
	#mainav li:hover > a{color:#FFFFFF;}
	#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color: #FFFFFF;border-color: #5B8EBE;}
	#mainav li li:hover > a{color:#FFFFFF!important; background-color:#5B8EBE;}
	#mainav .active .active > a{background-color: #DD8623; color: #FFFFFF!important;}
	#mainav form select{color:#474747; background-color:#FFFFFF; border-color:rgba(0,0,0,.2);}
}

@media all and (max-aspect-ratio: 1/1)
{
	
}