﻿/*JCE CSS theme by Kushuh神*/
/*This file contains all the common stuff for the whole website. Please be careful while modifying this template*/

@import url("font-awesome.min.css");
/*@import url("screen_adaptator.css");*/

::selection{color:#FFFFFF!important;background:#5B8EBE!important}
html{overflow-y:scroll; overflow-x:hidden;}

/*Fonts*/

form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
label{margin-bottom:5px;}
:required, :invalid{outline:none; box-shadow:none;}

/*Styles*/

.sections{
	position: absolute;
	height: auto;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	z-index: 5;
	right: 0;
	left: 0;
	background-image : none;
	overflow: visible;
}

.marge {margin-left: 3em;}

.marge2 {margin-left: 2em;}

.force_padding{
	width: 100%;
	height: 100%;
	background: transparent;
}

#short_section{
	background-color: #FFFFFF;
}

#short_section >  p{
	left: 0;
	padding: 1%;
	width: auto;
	margin: 2% 2% 0 2%;
	height: auto;
	text-align: center;
}

p, a{font-family: Verdana;font-weight: normal;}

p > strong{color: #DD8623;}

.sub_section{
	width: auto!important;
	height: auto;
	padding: 1% 5% 2% 5%;
	left: 0;
}

.sub_section_2{
	margin: 0;
	z-index: 9;
	width: 100%;
	height: auto;
	position: relative;
	top: 0;
	background-color: #FFFFFF;
	overflow: hidden!important;
}

.sub{
	color: #AAAAAA;
	text-align: center;
	font-size: 25px;
	font-family: Verdana;
	font-weight: normal;
}

.subs{
	color: #AAAAAA;
	text-align: center;
	font-size: 20px;
	font-family: Verdana;
	font-weight: normal;
}

.sections_margin{
	width: 98%;
	left: 0;
	margin: 0;
	padding: 0 1% 0 1%;
	background-color: #FFFFFF;
}

h1{
	color: #5B8EBE;
	height: auto!important;
	font-family: Verdana;
	font-weight: normal;
	background-color: transparent;
	margin: 0 0 1% 0;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	border-radius: 0;
	overflow: visible;
	border-color: #5B8EBE;
	border-width: 0 0 1px 0;
	border-style: solid;
}

h2{
	text-align: left;
	font-family: Verdana;
	color: #FFFFFF;
	display: inline-block;
	margin: 0;
}

h3{
	color: #5B8EBE;
	background-color: transparent;
	text-align: center;
	font-family: Verdana;
}

h4{
	color: #5B8EBE;
	background-color: transparent;
	text-align: center;
	font-family: Verdana;
	margin: 0;
	overflow: hidden;
	word-wrap: break-word;
}



h6{
	color: #DD8623;
	text-align: left;
	font-family: Verdana;
	margin: 0;
	overflow: hidden;
}

h1 > strong{color: #DD8623;}

.list{
	width: 96%;
	height: auto;
	padding: 0;
	margin: 0 2% 0 2%;
}

.list2{
	width: 96%;
	height: auto;
	padding: 2%;
	margin: 0 17% 0 17%;
}

.bottom_btn{
	background-color: #5B8EBE;
	color: #FFFFFF;
	text-align: center;
	width: auto;
	max-width: none!important;
	bottom: 0;
	height: auto;
	text-decoration: none;
	transition: linear 0.2s;
}

.bottom_btn:hover{
	background-color: #3572AE;
	transition: linear 0s;
}

/*Footer*/

.ending{
	left: 0;
	width: 100%;
	background-color: #1C1C1C;
	height: auto;
	padding: 1% 0 0 0;
	margin: 0;
}

.contact{
	width: 70%;
	height: auto;
	margin: 0 0 0 15%;
	padding: 0;
}

.ct_nfo, .partners{
	width: 47%;
	height: auto;
	overflow: hidden;
	display: inline-table;
	color: #FFFFFF;
	text-align: left;
}

.ct_nfo{
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #666666;
	padding: 0 2% 0 0;
}

h5{
	color: #5B8EBE;
	font-family: Verdana;
	border-color: #666666;
	border-style: solid;
	border-width: 0 0 1px 0;
}

.partners{
	border-width: 0 0 0 1px;
	border-style: solid;
	border-color: #666666;
	padding: 0 0 0 2%;
}

.ct_nfo > address{
	font-family: Verdana;
	font-style: normal;
}

.it{font-style: italic;}

.ct_link{
	color: #5B8EBE;
	text-decoration: none;
	transition: linear 0s;
}

.ct_link:hover{
	color: #FFFFFF;
	transition: linear 0s;
}

.loc{
	font-family: Verdana;
	font-style: normal;
}

.sec_tit{
	color: #DD8623;
	font-weight: bold;
}

.pt_icon{
	display: inline-block;
	width: auto;
	padding: 0 2% 0 2%;
}

.copyrights{
	display: block;
	height: auto;
	width: 100%;
	background-color: #000000;
	padding: 1%;
	margin: 2% 0 0 0;
	left: 0;
}

.JCE, .WeebM{
	font-family: Verdana;
	color: #777777;
	display: inline-block;
	width: 48%;
	height: auto;
}

.WeebM{text-align: right;}

.project_big{
	width: 96%;
	height: auto;
	display: block;
	margin: 0 0 2% 0;
	border-width: 1px;
	border-color: #AAAAAA;
	border-style: solid;
	padding: 2%;
}

.project_big > img{
	width: 15%;
	height: auto;
	display: inline-block;
}

.project_big > div{
	display: inline-block;
	margin: 0;
	height: auto;
	vertical-align: top!important;
	text-align: justify;
	text-justify: distribute;
	word-wrap: break-word;
}

.title{
	width: 100%!important;
	margin: -2.1% 0 1% -2.1%;
	padding: 1% 2.1% 1% 2.1%;
	color: #FFFFFF;
	background-color: #5B8EBE;
	text-align: left;
}

.client::before{
	content: 'Client: ';
	font-weight: bold;
}

.client, .statut{
	text-align: left;
	margin: 0;
}

.statut{font-weight: bold;}

.pr_desc{
	margin: 0;
}

#en{color: #333333;}
#en_m{background-color: #333333;}

#er{color: #A01993;}
#er_m{background-color: #A01993;}

#ec{color: #DD8623;}
#ec_m{background-color: #DD8623;}

#ecf{color: #00BC16;}
#ecf_m{background-color: #00BC16;}

#f{color: #5B8EBE;}
#f_m{background-color: #5B8EBE;}

.member_big:nth-child(3n){margin: 0 5% 5% 0!important;}
.member_big:nth-child(3n+1){margin: 0 0 5% 5%!important;left: 0!important;clear: left;}

.member_big{
	display: block;
	float: left;
	width: 26.6%;
	margin: 0 5% 5% 5%;
	padding: 0;
}

.member_big >img{
	width: 100%;
	height: auto;
}

.member_big > div {
	width: auto;
	display: block;
	border-width: 1px;
	border-color: #AAAAAA;
	border-style: solid;
}

.name{
	text-align: center;
	color: #5B8EBE;
	font-weight: bold;
}

.function{
	text-align: center;
}

.gras{
	color : #5B8EBE;
	text-align: center;
	font-size: 25px;
	font-family: Verdana;
	font-weight: normal;
}


/* Top Bar Menu */

