﻿<head>
<title>JCE - À propos</title>
<link rel="shortcut icon" href="images/Icons/JCE Logo icon.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="about.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">

<!--Top Bar Menu-->

<div class="top_menu">
	<nav id="mainav" class="hoc clear"> 
	<div class="header_logo_main"></div>
		<ul class="clear">
			<li><a href="index.html">Accueil<div class="underline"></div></a></li>
			<li><a href="about.html">La Junior-Conseil ESME<div class="underline"></div></a></li>
	
			<li><a href="projects.html">Projets<div class="underline"></div></a></li>
			<li><a href="members.html">Membres<div class="underline"></div></a></li>
			<li><a href="quotation.html">Devis<div class="underline"></div></a></li>
			<li><a href="#full_bottom">Nous contacter<div class="underline"></div></a></li>
		</ul>
	
		<ul class="faico clear">
			<li><a class="faicon-facebook" href="https://www.facebook.com/jce.esme?fref=ts"><i class="fa fa-facebook"></i></a></li>
			<li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
			<li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
			<li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
		</ul>
	</nav>
</div>

<div class="sections"><div class="sections_margin">

<!--Section 0-->

<!-- CODE -->
<!-- ... -->

</div>

<!--Contact-->

	<footer class="ending" id="full_bottom">
		<div class="contact">
			<div class="ct_nfo">
				<h5>Nous contacter</h5>
				<address><span class="sec_tit">Junior-Conseil ESME</span><br />
					<span class="marge"></span>&#9993;&nbsp;&nbsp;<span class="it"><a class="ct_link" href="mailto:contact@jcesme.fr">contact@jcesme.fr</span></a><br />
					<span class="marge"></span>&#9742;&nbsp;&nbsp;<span class="it">+00 00 00 00 00</span><br />
				</address>
				<p class="loc"><span class="sec_tit">ESME Sudria</span><br />38 rue Molière, Ivry-sur-Seine<br />94200 FRANCE<br />Voir accueil au rez-de-chaussée</p>
				<div class="map">
				
				</div>
			</div>
			<div class="partners">
				<h5>Partenaires</h5>
				<div class="partners_pic">
					<img src="images/Partners/Esme.png" alt="E.S.M.E Sudria" class="pt_icon">
					<img src="images/Partners/AIESME.png" alt="AIESME Sudria" class="pt_icon">
					<img src="images/Partners/JE.png" alt="CNJE" class="pt_icon">
				</div>
			</div>
		</div>
		<div class="copyrights">
			<div class="JCE">© 2016-2017 JCE | Association loi 1901 de type Junior-Entreprise</div>
			<div class="WeebM">Site JCE 1.0.0 | Conception : Kushuh神 | Codé par : Kushuh神, Ru-Senpai</div>
		</div>
	</footer>

</div>
</body>
</html>